@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  font-family: var(--font-inter);
}

.font-serif {
  font-family: var(--font-playfair);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(16, 185, 129, 0.2);
}
